* {
    margin: 0;
    padding: 0;
}

/*add style to background*/
.container {
    height: 100vh;
    width: 100%;
    background-image: url('../images/baby-background.jpg');
    background-position: center;
    background-size: cover;
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
    position: relative;


}

/*add style to navbar*/
.navbar {
    width: 100%;
    height: 15vh;
    margin: auto;
    display: flex;
    align-items: center;

}
/* style navigation links*/
#menu{
    font-size: 110%;
    letter-spacing: 3px;
}

#menu li {
    float: left;
    list-style-type: none;
    margin-right: 30px;
    
}

#menu a:hover{
border-bottom: 1px solid #333;
}

.active {
    border-bottom: 1px solid #333;
}

/*add style to logo*/
.logo {
    width: 200px;
    cursor: pointer;
}


/*give style to nav elements and set menu links inline*/
nav {
    flex: 1;
    padding-left: 60px;


}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 5px 20px;
    font-size: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}



/*give style to content elements */
.content h1 {
    font-size: 80px;
    font-weight: 110;
    margin-top: 30px;
    margin-bottom: 15px;
    color: #232d60;

}

.content p {
    font-size: 25px;
    font-weight: 110;
    color: #6a7199;

}

.content {
    margin: 10%;
    margin-left: 10%;
}
/*style collection button*/
.content .btn {
    display: inline-block;
    background: linear-gradient(45deg, #87adfe, #ff77cd);
    border-radius: 6px;
    padding: 15px 20px;
    box-sizing: border-box;
    text-decoration: none;
    color: #fff;
    box-shadow: 3px 8px 22px rgba(94, 28, 68, 0.15);
}

.content a:hover{
    border-bottom: 1px solid #7e6a99;
}

/*style images*/
#designs img {
    max-width: 300px;
    max-height: 300px;
    margin: 5px;
    border-radius: 5px;

}

#designs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

/*for arrow icons*/
.arrow-icons {
    
    display: inline-block;
    margin-top: 80px;
    display: flex;
    margin-right: 0px;
}

.arrow-icons img {
    width: 40px;
    margin-right: 35px;
}
/*style for social links*/
.social-links {
    transform: rotate(-90deg);
    position: absolute;
    left: -80px;
    bottom: 180px;
}

.social-links a {
    text-decoration: none;
    color: #7e6a99;
    padding-right: 20px;
    font-size: 18px;
    margin-top: 20px;
}

.social-links a:hover{
    border-bottom: 1px solid #7e6a99;
}

/*style to h2 and h3 element in collection.html*/
h2{
    font-size: 30px;
    font-weight: 110;
    margin-top: 30px;
    margin-bottom: 15px;
    color: #232d60;
    margin-left: 35%;
}

h3{
    font-size: 25px;
    font-weight: 90;
    margin-left: 30%;
    margin-top: 15px;
    color: #232d60;
}

/*style collection button*/

#collection {
    background: linear-gradient(45deg, #87adfe, #ff77cd);
    border-radius: 3px;
    padding: 5px 10px;
    box-sizing: border-box;
    text-decoration: none;
    color: #fff;
    box-shadow: 3px 8px 22px rgba(94, 28, 68, 0.15);
    display: inline-block;
    margin-left: 45%;
    
}

#collection a{
    text-decoration: none;    
}

#collection a:hover{
    border-bottom: 1px solid #232d60;    
}




