@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
}

/*add style to background*/
.container {
    min-height: 100vh;
    width: 100%;
    background-image: url('../images/pic12.jpg');
    background-position: center;
    background-size: cover;
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
    position: relative;



}

/*add style to navbar*/
.navbar {
    width: 100%;
    height: 15vh;
    margin: auto;
    display: flex;
    align-items: center;

}

/* style navigation links*/
#menu {
    font-size: 110%;
    letter-spacing: 3px;

}

#menu a {
    color: #fff;
}

#menu li {
    float: left;
    list-style-type: none;
    margin-right: 30px;
    float: right;

}

#menu a:hover {
    border-bottom: 1px solid #fff;
}

.active {
    border-bottom: 1px solid #fff;
}


.logo {
    width: 200px;
    cursor: pointer;
    color: darkgoldenrod;
}

h2 {
    font-family: lato, sans-serif;
    font-size: medium;
    font-weight: 400;
    color: rgb(238, 187, 59);
}


/*give style to nav elements and set menu links inline*/
nav {
    flex: 1;
    padding-left: 60px;


}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 5px 20px;
    font-size: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}



/*give style to content elements */
.content h1 {
    font-size: 80px;
    font-weight: 110;
    margin-top: 30px;
    margin-bottom: 15px;
    color: #fc766aff;

}

.content p {
    font-size: 25px;
    font-weight: 110;
    color: #e94b3c;

}

.content {
    margin: 10%;
    margin-left: 10%;
}

/*style collection button*/
.content .btn {
    display: inline-block;
    background: linear-gradient(45deg, #87adfe, #ff77cd);
    border-radius: 6px;
    padding: 15px 20px;
    box-sizing: border-box;
    text-decoration: none;
    color: #fff;
    box-shadow: 3px 8px 22px rgba(94, 28, 68, 0.15);
}

.content a:hover {
    border-bottom: 1px solid #7e6a99;
}

/*style images*/
#gallery {
    width: 100%;
    height: 100%;    
    flex-wrap: wrap;
    display: block;
    margin-left: 15em;
    column-count: 1;
    
    

}

#gallery img {
    height: 250px;
    width: 230px;
    padding: 5px;
    filter: grayscale(100%);
    transition: 1s;
    border-radius: 10px;

}

#gallery img:hover {
    filter: grayscale(0);
    transform: scale(1.1);
}

#history {
    text-align: center;
    margin: auto;
    width: 60%;
    border: 5px solid #eee3dd;
    padding: 10px;
    border-radius: 1cm;
    background: #61151531;
}

#history h3 {
    font-family: sans-serif;
    font-size: larger;
    font-weight: 600;
    color: #e3c375;
    background: #e15050db;
    border-radius: 10cm;
    width: 40%;
    margin: auto;

}

#history p {
    font-family: lato sans-serif;
    margin-top: 3px;
    font-size: medium;
    font-weight: 400;
    color: white;
    background-color: #021f0859;
    border-radius: 12px;



}

#history img {
    border-radius: 1em;
}

#history ul {
    background: #021f0859;
    color: white;
    margin: auto;
    border-radius: 8px;
    width: 98%;
    margin-top: 3px;
}



/*for arrow icons*/
.arrow-icons {
    display: inline-block;
    margin-top: 80px;
    display: flex;
    margin-right: 0px;
}

.arrow-icons img {
    width: 40px;
    margin-right: 35px;
}

/*style for social links*/
.social-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-links a {
    text-decoration: none;
    color: #7e6a99;
    padding-right: 20px;
    font-size: 18px;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 5px;
}

.social-links a:hover {
    border-bottom: 1px solid #7e6a99;
}

/*style to h2 and h3 element in collection.html*/
.collection {
    text-align: center;
    margin: auto;
    font-size: 40px;
    font-family: sans-serif;
    background: #e15050db;
    border-radius: 1cm;
    width: 65%;

}




/*style collection button*/

#collection {
    background: linear-gradient(45deg, #87adfe, #ff77cd);
    border-radius: 3px;
    padding: 5px 10px;
    box-sizing: border-box;
    text-decoration: none;
    color: #fff;
    box-shadow: 3px 8px 22px rgba(94, 28, 68, 0.15);
    display: inline-block;
    margin-left: 45%;

}

#collection a {
    text-decoration: none;
}

#collection a:hover {
    border-bottom: 1px solid #232d60;
}

/*signup details*/


.form-section {
    width: 350px;
    height: 500px;
    box-shadow: 0 0 40px 20px rgba(0, 0, 0, 0.26);
    margin: auto;
}

.form-section,
.form-section > form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 40px 100px 40px 20px;
    border-radius: 10px;
    font-family: lato, Helvetica, sans-serif;
    font-size: larger;
}

.form-section h3 {
    font-size: large;
    font-family: lato sans-serif;
    color: darkgoldenrod;
}


/* #signup-details > h3 {
    color: #232d60;
    margin-bottom: 30px;
    font-size: large;
}

.text-input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
}

.text-input:hover {
    border-color: #f16c6b;
} */

/* .join-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: #f16c6b;
    color: #fafafa;
    display: block;
}

.join-button:hover {
    background-color: #fafafa;
    color: #f16c6b;
} */